<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id='feedback-form' title='Сообщение' >
  <%= link_to "Обратная связь", feedbacks.feedback_path, :remote => true, :class => 'feedback' %>
</div>

</body>
</html>
